# Dependencies
backend/venv/
node_modules/
.next/
out/
build/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secrets
.env
backend/.env
backend/.env.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
